/* *
 * 
 * easyui左侧导航布局样式修改 
 * 
 * */

.left-nav {
	width: 238px;
}

.left-nav>.easyui-accordion {
	width: inherit;
}

.panel-title {
	/*修改侧边一级文字颜色*/
	color: #fff;
	font-weight: 200;
}

.panel-body,
.panel-body-noheader {
	border-width: 0;
}

.accordion .accordion-header {
	/*修改侧边一级背景透明*/
	background: rgba(238, 238, 238, 0.096);
}

.easyui-accordion>div {
	/*侧边一级下面框*/
	border-bottom: 1px solid rgba(222, 212, 212, 0.37);
}

.easyui-accordion>div:last-child {
	/*最后一个清除样式*/
	border-bottom: none
}

.layout-panel-west {
	background: url('../img/left-bg2.jpg');
	background-size: 165% 165%
	/*侧边全局背景色*/
}

.layout-panel-west .panel-header {
	/*侧面一级标题样式重置*/
	padding: 10px 10px;
	border-bottom: none;
	overflow: auto;
}

.layout-panel-west .panel-body {
	/*侧边一级内容样式重置*/
	border: none;
	background: transparent;
}

.layout-panel-west .panel-body .panel-tool {
	/*侧边下拉按钮位置*/
	right: 10px;
}

.accordion .accordion-header-selected {
	/*侧面一级选中背景*/
	background-color: rgb(19, 138, 86);
}

.layout-panel-west .easyui-accordion {
	/*侧面一、二级背景透明*/
	background-color: transparent;
}

.layout-panel-west .easyui-accordion .funItem {
	/*侧边二级文字内容样式*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	transition: all 0.3s ease-in;
	width: 100%;
	margin: 1px 0;
	padding-top: 4px;
	padding-left: 20px;
	line-height: 30px;
	cursor: pointer;
	font-size: 14px;
	color: #ccc;
}

.layout-panel-west .easyui-accordion .funItem:hover {
	/*侧边二级悬浮样式*/
	/*background: rgba(89, 163, 131,0.8);*/
	background: linear-gradient(to bottom, rgba(89, 163, 131, 0.9), rgba(89, 163, 131, 0.7));
	color: #fff;
	width: 80% !important;
	transform: translateX(20px);
}

.layout-panel-west .easyui-accordion .funItem.select {
	/*侧边二级选中样式 通过JS添加此类*/
	color: #fff !important;
	background: linear-gradient(to bottom, rgba(89, 163, 131, 0.9), rgba(89, 163, 131, 0.7));
	/*background: rgb(89, 163, 131) !important;*/
	width: 100%;
}

.layout-panel-west .accordion-header {
	/*侧边一级导航*/
	transition: all 0.3s;
	border-left: 10px transparent solid;
}

@media only screen and (max-width: 1159px) {
	.left-nav {
		width: 160px;
	}
	.layout-panel-west .easyui-accordion .funItem:hover {
		/*侧边二级悬浮样式*/
		/*background: rgba(89, 163, 131,0.8);*/
		background: linear-gradient(to bottom, rgba(89, 163, 131, 0.9), rgba(89, 163, 131, 0.7));
		color: #fff;
		width: 100% !important;
		transform: translateX(0);
	}
}