html,
body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	height: 100%;
}
/* easyui统一样式改变 */

.easyui-linkbutton{
	/*按钮颜色*/
	box-sizing: border-box;
	width: auto;
	color: #eee;
	padding: 3px 10px;
	transition: all 0.2s;
	background: rgba(75, 132, 255, 0.6);
	box-shadow: 0 0 5px 2px #eee inset;
}
.easyui-linkbutton:hover{
	width: auto;
	color: #fff;
	padding: 3px 18px;
	background: rgba(198, 75, 255, 0.7);
	border: 0;
}

/* .datagrid-toolbar .l-btn-plain:hover{
	border:none;
} */

.input-style{
	/*自定义文本输入框样式*/
	width: 120px;
	padding-left: 10px;
	transition: all 0.3s;
	border-radius: 6px;
}
.input-style:focus{
	width: 160px;
	outline: none;
	box-shadow: 0 0px 6px 0px #ccc;
}
.datagrid-header,
.datagrid-header-row{
	/*表头样式*/
	height: 34px !important;
	border: none;
}
.datagrid-header td, .datagrid-body td, .datagrid-footer td{
	/*单元格样式*/
	border-color: rgb(13, 111, 184);
	height: 30px;
}
.datagrid-header td:hover{
	color: #fff;
	font-weight: bold;
}
.datagrid-row-over{
	background: rgba(75, 132, 255, 0.5);
	color: #fff;
}
.datagrid-row-selected{
	color: #eee;
	background: rgba(75, 132, 255,0.8);
	transition: all 1s;
	outline: none;
}
.datagrid-header-over{
	background: rgba(75, 132, 255, 0.5) !important;
	color: #fff;
}

/* date-select */
.calendar-saturday,
.calendar-sunday{
	color: rgba(93, 23, 206, 0.438);
}

.calendar-selected{
	border: 0;
	background-color: rgb(143, 186, 251);
	border-radius: 50%;
	color: #eee;
	font-weight: bold;
}

.calendar-nav-hover{
	border-radius: 50%;border: 0;
}
.datebox{
	line-height: 30px;
}
.datebox-button a{
	color: rgb(88, 88, 158);
}


/* easyui-combobox */
.textbox,
.textbox-addon-right>a,
.textbox>input{
	height: 28px !important;
}
.combobox-item-hover{
	background: rgba(75, 132, 255, 0.5);
	color: #fff;
}
.combobox-item-selected{
	background: rgba(75, 132, 255, 0.8);
}

/* esayui-check */
.iradio_minimal-red + span{
	position: relative;
	top: 2px;
	left: 2px;
}

/* easyui-dialog */
.window{
	background: rgba(75, 132, 255, 0.5);
	box-shadow: 0 0 20px 0 #999;
	border: none;
	border-radius: 0px;
	padding: 5px 0;
}
.window-header>.panel-title{
	position: relative;
	color: #fff;
	left: 5px;
}
.window-header .panel-tool a{
	position: relative;
	right: 5px;
	margin-left: 5px;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.5);
}
.window-proxy-mask, .window-mask{
	background-color: rgba(0,0,0,0.5);
}

/* easyui-Messager */
.messager-window {
	background: rgba(75, 132, 255, 0.5);
	border: none;
	box-shadow: 0 0 20px 0 #999;
	border-radius: 0px;
	padding: 5px 0;
}
.window-proxy-mask,
.window-mask {
	background-color: rgba(0, 0, 0, 0.5) !important;
}
.window-shadow{
	box-shadow: none;
	border-radius: 0px;
}
.messager-window .l-btn.l-btn-small {
	background: rgba(75, 132, 255, 0.6);
	color: #eee;
	outline: none;
	border: none;
	transition: box-shadow 0.2s;
}
.messager-window .l-btn.l-btn-small:hover {
	background: rgba(198, 75, 255, 0.7);
}