/* easyui样式修改 */

html,
body,
p {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

.panel-title {
	/*修改侧边一级文字颜色*/
	color: #fff;
	font-weight: 200;
}

.panel-body,
.panel-body-noheader {
	border-width: 0;
}

.accordion .accordion-header {
	/*修改侧边一级背景透明*/
	background: rgba(238, 238, 238, 0.096);
}

.easyui-accordion>div {
	/*侧边一级下面框*/
	border-bottom: 1px solid rgba(222, 212, 212, 0.37);
}

.easyui-accordion>div:last-child {
	/*最后一个清除样式*/
	border-bottom: none
}

.layout-panel-west {
	/* background-color: #393D49; */
	background: url('img/left-bg2.jpg');
	background-size: 165% 165%
	/*background-size: 100% 100%*/
	/*侧边全局背景色*/
}

.layout-panel-west .panel-header {
	/*侧面一级标题样式重置*/
	padding: 10px 10px;
	border-bottom: none;
	overflow: auto;
}

.layout-panel-west .panel-body {
	/*侧边一级内容样式重置*/
	border: none;
	background: transparent;
}

.layout-panel-west .panel-body .panel-tool {
	/*侧边下拉按钮位置*/
	right: 10px;
}

.accordion .accordion-header-selected {
	/*侧面一级选中背景*/
	background-color: rgb(19, 138, 86);
}

.layout-panel-west .easyui-accordion {
	/*侧面一、二级背景透明*/
	background-color: transparent;
}

.layout-panel-west .easyui-accordion .funItem {
	/*侧边二级文字内容样式*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	transition: all 0.3s ease-in;
	width: 100%;
	margin: 1px 0;
	padding-top: 4px;
	padding-left: 20px;
	line-height: 30px;
	cursor: pointer;
	font-size: 14px;
	color: #ccc;
}

.layout-panel-west .easyui-accordion .funItem:hover {
	/*侧边二级悬浮样式*/
	/*background: rgba(89, 163, 131,0.8);*/
	background: linear-gradient(to bottom, rgba(89, 163, 131, 0.9), rgba(89, 163, 131, 0.7));
	color: #fff;
	width: 80% !important;
	transform: translateX(20px);
}

.layout-panel-west .easyui-accordion .funItem.select {
	/*侧边二级选中样式 通过JS添加此类*/
	color: #fff !important;
	background: linear-gradient(to bottom, rgba(89, 163, 131, 0.9), rgba(89, 163, 131, 0.7));
	/*background: rgb(89, 163, 131) !important;*/
	width: 100%;
}

.layout-panel-west .accordion-header {
	/*侧边一级导航*/
	transition: all 0.3s;
	border-left: 10px transparent solid;
}


/* .layout-panel-west .accordion-header:hover {
	border-left: 10px rgb(210, 220, 10) solid ;
}

.layout-panel-west .accordion-header-selected {
	border-left: 10px rgb(250, 220, 10) solid;
} */

.layout-panel-west span {
	/*左侧边栏中菜单小圆点统一样式*/
	height: 6px;
	width: 6px;
	border-radius: 50%;
	margin-bottom: 2px;
	margin-right: 5px;
	display: inline-block;
}

.layout-panel-west span.users-Hover {
	/*左侧边栏中菜单悬浮时小圆点样式*/
	background: rgb(250, 220, 10) !important;
}

.layout-panel-west span.users-Click {
	/*左侧边栏中菜单被选中小圆点样式*/
	background: rgb(250, 220, 10);
}

.layout-panel-west span.users-unClick {
	/*左侧边栏中菜单未选中小圆点样式*/
	background: #fff;
}

.tabs {
	/*选项卡区域底部边框*/
	 /*border-bottom: 1px solid rgba(83, 166, 226, 0.4);*/ 
	 border-bottom: 0;
	/*box-shadow: 0 2px 5px 0 #333;*/
}

.usersTable .tabs-header {
	/* 选项卡区域背景 */
	/*background: rgb(245, 245, 245);*/
	background: rgba(0,0,0,0.5);
}

.usersTable .panel-body {
	/* tab选项卡打开窗口内容清除滚动条 */
	overflow-x: hidden;
}

.usersTable .tabs li a.tabs-close {
	/*关闭按钮*/
	/*background: url(images/tabs_icons.png) no-repeat -34px center;*/
	transition: all 0.5s !important;
	background-color: rgba(255,255,255,0.5);
	border-radius: 100%;
}
.tabs-p-tool a:hover, .tabs li a:hover.tabs-close, .tabs-scroller-over{
	background-color: #eee;
}

.usersTable .tabs li a.tabs-inner {
	/*固定选项卡高度*/
	/*width: 50px;*/
	width: 100px;
	height: 37px !important;
}

.usersTable .tabs li a:nth-child(1) {
	/*设置tab选项卡默认样式*/
	color: #eee;
	border: none;
	background: linear-gradient(rgba(83, 166, 226, 0.6), rgba(10, 111, 183, 0.8));
}

.usersTable .tabs li.tabs-selected a:nth-child(1) {
	/*设置tab选项卡选中时默认样式*/
	background: linear-gradient(rgb(83, 166, 226), rgb(10, 111, 183));
	border: none;
	color: #eee;
}

.usersTable .tabs li a.tabs-inner:hover {
	/*设置tab选项卡悬浮样式*/
	background: linear-gradient(rgb(83, 166, 226), rgb(10, 111, 183));
	border: none;
}


/* 用户自定义样式 */

.header {
	/*页面顶部*/
	overflow: hidden;
	height: 85px;
	/*border-bottom: 1px solid rgb(19, 134, 44);*/
	/*background-color: rgba(0,0,0,0.5);*/
	background: url(img/yx-logo2.jpg) no-repeat center;
	background-size: auto 60%;
}

.system-logo {
	/*系统logo图*/
	position: relative;
	top: 3px;
	left: -12px;
	float: left
}

.search-input {
	/*头部检索外层div*/
	float: left;
	line-height: 35px;
	border: #bbb 1px solid;
	margin-top: 25px;
	margin-left: 20px;
	border-radius: 5px;
	padding: 0px 5px;
}

.search-input>input {
	/*头部检索框*/
	color: #666;
	border: none;
	margin-left: 15px;
	font-size: 16px;
	width: 180px;
	outline: none;
}

.header-right-btn {
	/*头部右侧按钮*/
	line-height: 40px;
	text-align: right;
	float: right;
	margin-top: 25px;
	margin-right: 30px;
}

.header-right-btn>a>span {
	/*头部右侧按钮图标*/
	color: rgb(82, 147, 197);
	margin-right: 5px;
	position: relative;
	top: 6px;
}

.search-input>span {
	/*检索框图标*/
	position: relative;
	left: 5px;
	bottom: -2px;
}

.search-btn {
	border: none;
	background: none;
	color: #999;
	outline: none;
}

.search-btn:hover {
	color: #222;
}

.users-icon {
	/*用户名前的图标*/
	position: relative;
	top: -4px;
	font-size: 16px;
}

.users-name {
	color: rgb(82, 147, 197);
	margin-right: 5px;
	position: relative;
	top: 6px;
}

.login-out {
	color: rgb(46, 135, 204);
	margin-left: 20px;
	cursor: pointer;
}

.users-bottom-copy {
	/*底部技术支持*/
	box-sizing: border-box;
	color: #aaa;
	font-size: 13px;
	line-height: 25px;
	text-align: center;
	/*border-top: 1px solid rgb(83, 166, 226);*/
	overflow: hidden;
	background: rgba(0,0,0,0.9);
}


/* a标签样式默认值修改 */

a {
	text-decoration: none;
	transition: all 0.5s;
}

a:link {
	color: rgb(82, 147, 197);
}

a:visited {
	color: rgb(133, 192, 240);
}

a:hover {
	color: rgb(133, 192, 240);
}

a:active {
	color: rgb(82, 147, 197)
}


/*输入框提示文字颜色*/

input:-moz-placeholder {
	color: #999;
}

input:-ms-input-placeholder {
	color: #999;
}

input::-webkit-input-placeholder {
	color: #999;
}


/*标签页下窗口背景*/

.MainPageBg,
iframe {
	background: url(img/ifream-bg2.jpg) top;
	background-size: 100% 100%;
}


/*进度条提示start*/
.jdt {
	display: flex;
	/*box-shadow:  0 0 20px 0 rgba(255,255,255,0.5);*/
	/*background: rgba(225,225,225,0.2);*/
	background: linear-gradient(to top,rgba(225,225,225,0.2),rgba(225,225,225,1));
	border-radius: 10px;
	margin-top: 10px;
}

.circleProgress_wrapper {
	/*进度条每一项*/
	width: 150px;
	height: 150px;
	margin: 50px auto;
	position: relative;
	left: -7vw;
	/*border: 1px solid #ddd;*/
}

.bg-white {
	/*底部空白区域*/
	width: 23vw;
	margin-top: 10px;
	height: 130px;
	/*background: white;*/
	background: linear-gradient(rgba(255,255,255,0.8) 20%,rgba(198,198,198,1));
	border-radius: 100px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
	transition: all 0.5s ease-out;
}
.bg-white:hover{
	box-shadow: 0 0 40px 0px rgba(0,0,0,0.6);
}


/*进度条中的文字*/

.bg-white>div:nth-child(1) {
	text-align: center;
	padding-top: 45px;
	z-index: 1;
	font-size: 22px;
	line-height: 20px;
	display: inline-block;
	position: relative;
	left: 50px;
	color: #888;
}

.orange .bg-white>div>p:nth-child(1) {
	color: #F67029;
	font-weight: bold;
}

.red .bg-white>div>p:nth-child(1) {
	color: #E72A26;
	font-weight: bold;
}

.blue .bg-white>div>p:nth-child(1) {
	color: #0AA1EA;
	font-weight: bold;
}

.bg-white>div:nth-child(1)>p:nth-child(2) {
	font-size: 14px;
	margin-top: 5px;
	margin-left: -8px;
}
/*白色背景中的文字*/
.bg-white>div:nth-child(2) {
	float: right;
	width: 95px;
	text-align: center;
	position: relative;
	right: 6vw;
	top: 30px;
	font-size: 36px;
}

.wrapper {
	width: 75px;
	height: 150px;
	position: absolute;
	top: 0;
	overflow: hidden;
}

.right {
	right: 0;
}

.left {
	left: 0;
}

.circleProgress {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
}


/*不同颜色的进度条*/

.orange .circleProgress {
	border: 20px solid #F67029;
}

.orange .rightcircle {
	border-top: 20px solid #C4C2C3;
	border-right: 20px solid #C4C2C3;
	right: 0;
	/*-webkit-animation: circleProgressLoad_right 5s linear infinite;*/
	/*-webkit-transform: rotate(45deg);*/
}

.orange .leftcircle {
	border-bottom: 20px solid #C4C2C3;
	border-left: 20px solid #C4C2C3;
	left: 0;
	/*-webkit-animation: circleProgressLoad_left 5s linear infinite;*/
	-webkit-transform: rotate(180deg);
}

.red .circleProgress {
	border: 20px solid #E72A26;
}

.red .rightcircle {
	border-top: 20px solid #C4C2C3;
	border-right: 20px solid #C4C2C3;
	right: 0;
}

.red .leftcircle {
	border-bottom: 20px solid #C4C2C3;
	border-left: 20px solid #C4C2C3;
	left: 0;
	-webkit-transform: rotate(180deg);
}

.blue .circleProgress {
	border: 20px solid #0AA1EA;
}

.blue .rightcircle {
	border-top: 20px solid #C4C2C3;
	border-right: 20px solid #C4C2C3;
	right: 0;
}

.blue .leftcircle {
	border-bottom: 20px solid #C4C2C3;
	border-left: 20px solid #C4C2C3;
	left: 0;
	-webkit-transform: rotate(180deg);
}

.Mychart01-bg{
	background: rgba(255,255,255,0.3);margin-top: 20px;height: 62%;
	border-radius: 10px;
}
